.back-office {
    .orders-list{
        padding-top: 50px;
        .order-preview{
            justify-content: space-between;
            margin: 20px 0;
            .guest-details {
                margin: 10px;
                .guest-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .guest-name {
                    margin: 0;
                    align-self: center;
                    padding-left: 10px;
                }
            }
            .sub-title {
                color: $clr2;
                .order-details {
                    margin: 0 3px;
                }
            }
            .buttons {
                align-self: flex-end;
            }
        }

    }
}