.categories-container {
    background-color: lightpink;
    display: grid;
    color: $clr5;
    height: 40px;
    width: 400px;
    // grid-auto-columns: max-content;
    // grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    // grid-auto-fit: 
    // grid-template-rows: 1fr;
    column-gap: 32px;
    img {
        height: 50px;
        object-fit: fill;
    }
}