.categories-container {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: 32px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    min-width: 56px;
    // display: flex;
    .is-clicked{
        border-bottom: 2px solid #000000;
    }

    .category-btn {
        display: flex;
        padding-bottom: 14px;
        flex-direction: column;
        background-color: $clr3;
        color: $clr2;
        border: none;
        justify-content: space-between;
        row-gap: 8px;
        text-decoration: none;
        align-items: center;
        margin-top: 12px;
        color: $clr2;
        border-bottom: 2px solid $clr3;

        &:hover {
            color: #000000;
            // border-radius: 8px;
            ;
            border-bottom: 2px solid $clr6;

            img {
                filter: invert(8%) sepia(21%) saturate(21%) hue-rotate(60deg) brightness(94%) contrast(87%);

            }
        }

    }

    img {
        width: 24px;
        height: 24px;
        object-fit: fill;
        filter: contrast(calc(13 / 44));
    }
}