.categories-container {
    width: 100%;
    height: 76px;
    background-color: #fff;
    position: fixed;
    z-index: 16;
    top: 81px;
    left: 0;

    &.shadow-bottom {
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    }

    .main-categories {
        top: 80px;
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        column-gap: 32px;
        justify-content: start;
        max-width: 1600px;
        align-items: center;
        min-width: 56px;
        z-index: 20;
        background-color: white;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        


        &:not([data-scroll='0']) {
            box-shadow: none;
        }



        .category-btn {
            display: flex;
            padding-bottom: 14px;
            flex-direction: column;
            background-color: $clr3;
            color: $clr2;
            border: none;
            justify-content: space-between;
            row-gap: 8px;
            text-decoration: none;
            align-items: center;
            margin-top: 12px;
            color: $clr2;
            border-bottom: 2px solid $clr3;
            transition: 0.2s;

            &:hover {
                color: #000000;
                // border-radius: 8px;
                ;
                
                img {
                    filter: invert(8%) sepia(21%) saturate(21%) hue-rotate(60deg) brightness(94%) contrast(87%);
                    
                }
            }
            &:focus{
                color: #000000;
                border-bottom: 2px solid #000000;
                img{
                    filter: invert(8%) sepia(21%) saturate(21%) hue-rotate(60deg) brightness(94%) contrast(87%);

                }
                
            }
            &:is(*:focus){
                color: #000000;
                border-bottom: 2px solid #000000;
                img{
                    filter: invert(8%) sepia(21%) saturate(21%) hue-rotate(60deg) brightness(94%) contrast(87%);
    
                }

            }

        }

        img {
            width: 24px;
            height: 24px;
            object-fit: fill;
            filter: contrast(calc(13 / 44));
        }
    }

}