.main-header {
    background-color: $clr3;

    .app-header {
        padding-block-start: 10px;
        padding-block-end: 10px;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
       border-bottom: 1px solid $clr4;
    }

    .nav-container a {
        color: $clr5;
        text-decoration: none;
        justify-content: space-between;
    }

    .logo h2 {
        // font-family:airbnb-bold;
        // font-size: 38px;
        margin: 0;
        color: $clr1;
    }

}