.header {
    height: 81px;
    border-bottom: 1px solid $clr4;
    background-color: $clr3;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.main-header {
    border-bottom: 1px solid $clr4;
    background-color: $clr3;
    z-index: 30;
    width: 100%;
    top: 0;
    position: relative;

    &.home {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        .app-header {
            max-width: 1600px;
            margin: auto;
            // padding: 0 80px;
        }

        &.container {
            max-width:none;
            // min-width: 1600px;
        }
    }
    
    .app-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .invisible {
            visibility: hidden;
        }
        :hover{
            cursor: pointer
        };
        .active {
            height: 50px;
        }
    }
    .nav-container {
        display: flex;
        align-items: center;
        a {
            color: $clr5;
            text-decoration: none;
            justify-content: space-between;
            font-size: rem(14px);
            .user-svg {
                margin-left: 12px;

            }
            transition: box-shadow 0.2s ease;

            &.btn-user {
                margin-left: 8px;
            }

            &.btn-user:hover {
                box-shadow: 0 2px 4px rgba(0,0,0,0.18);

            }
        }
    }


    .logo {
        display: flex;
        align-items: center;
        font-family: airbnb-bold;
        color: $clr1;
        height: 80px;
        span {
            font-size: 23px;
        }
    }

}