.mini-host-preview {
    padding: 48px 0;

    button {
        border-radius: 8px;
        border: 1px solid $clr5;
        background: $clr3;
        padding: 13px 23px;
        cursor: pointer;
        font-family: airbnb-medium;
        font-size: 16px;
        line-height: 20px;

        &:hover {
            border-color: black;
            background: $clr7;
        }
    }

    .mini-host-flex {
        margin: 0 0 24px;
    }

    .mini-host-img {
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 16px;
    }

    .mini-host-date {
        color: $clr2;
        font-size: 14px;
        font-weight: 400;
        padding-top: 8px;
        margin: 0;
    }

    .mini-host-title {
        font-family: airbnb-medium;
        font-size: 22px;
        margin-bottom: 0;
    }

}