.order-calc {


    .order-calc-derails {
        margin-top: 24px;

        .calc-section {
            display: flex;
            justify-content: space-between;

            &:not(:first-child) {
                padding-top: 16px;
            }

            .calc-left {
                text-decoration-line: underline;
            }
        }
    }

    .final-calc {
        padding-top: 24px;
        margin-top: 24px;
        border-top: 1px solid $clr6;

        .total-section {
            font-family: airbnb-bold;
            display: flex;
            justify-content: space-between;
            font-weight: 600;


        }

    }
}