.search-container {
    align-items: center;
    display: flex;
    border-radius: 40px;
    border: 1px solid $clr4;
    justify-content: space-between;

    .filter {
        padding: 14px 30px 14px 30px;

        //  margin-left: 50px;
        &:hover {
            background-color: $clr4;
            border-radius: 40px;
        }

        &.guest{
            display: flex;
            align-items: center;
        }
    }

    .search-btn {
        background-color: $clr1;
        padding: 10px;
        border-radius: 50%;
        color: #ffffff;
    }

    .break-point {
        border-right: 1px solid $clr6;
        height: 32px
    }
}