.search-container {
    align-items: center;
    display: flex;
    border-radius: 40px;
    border: 1px solid $clr4;
    justify-content: space-between;

    .filter {
        padding: 14px 30px 14px 30px;

        font-size: rem(14px);

        &:hover {
            background-color: $clr4;
            border-radius: 40px;

            .text-input {
                background-color: $clr4;

            }

            .break-point {
                border-right: 1px solid $clr1;

            }
        }

        &.guest {
            display: flex;
            align-items: center;
        }

        input {
            font-size: rem(14px);
            border: 0 solid $clr1;
            line-height: 18px;
            padding-block-start: 5px;

            &:focus {
                outline: none;
            }
        }

        .text-input:hover {
            background-color: $clr4;

        }
    }

    .date-input {
        display: flex;
        flex-direction: column;

        div {
            padding-block-start: 5px;
        }
    }

    .guests-filter {
        display: flex;
        flex-direction: column;

        .add-guests {
            z-index: 10;
            padding-block-start: 5px;

        }

    }

    .search-btn {
        background-color: $clr1;
        padding: 8px 10px;
        border-radius: 50%;
        color: #ffffff;
        z-index: 10;
        margin-right: 10px;
        &:hover {
            background-color: #92174D;
        }
    }

    .break-point {
        border-right: 1px solid $clr6;
        height: 32px
    }

    .date-picker {
        z-index: 1;
        opacity: 0;
        position: fixed;

        :hover {
            background-color: $clr4;
        }
    }



    label {
        justify-content: space-between;
        align-items: center;
        display: flex;

        .filter {
            padding: 14px 30px 14px 30px;

            //  margin-left: 50px;
            &:hover {
                background-color: $clr4;
                border-radius: 40px;
            }

            &.guest {
                display: flex;
                align-items: center;
            }
        }
    }
}

.search-cmp {
    display: flex;
    flex-direction: column;
}


.position-modal {
    position: relative;

    .guests-modal {
        background-color: $clr3;
        right: 0;
        box-shadow: 10px 10px 5px 100vh rgba(0, 0, 0, 0.3);
        position: absolute;
        padding: 16px 32px;
        border-radius: 32px;
        margin-top: 12px;

        section {
            width: 330px;
        }

        .guests-type {
            padding: 24px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .guests-type-view {
                .title {
                    padding-bottom: 6px;
                    font-weight: 600;
                }

                .second-title {
                    font-size: rem(14px);
                    font-weight: 400;
                    color: $clr2;
                    line-height: 18px;
                }
            }

            .guests-type-selection {
                width: 104px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    display: inline-flex;
                    align-items: center;

                }
            }
        }
    }
}