.search-container {
    align-items: center;
    display: flex;
    border-radius: 40px;
    border: 1px solid $clr4;
    height: 64px;
    width: 850px;

    .chck-in {
        flex-grow: 0.5;
        z-index: 10;
        position: relative;
    }

    .search-first-section {
        flex-grow: 1.25;

        &.search-section {
            padding: 14px 32px;
        }
    }

    .search-middle-section {
        display: flex;
        align-items: center;


        .search-section {
            flex-grow: 1;
            z-index: 10;
            position: relative;
        }
    }


    .search-last-section {
        display: flex;
        flex-grow: 0.95;
        align-items: center;

        &:hover {
            background-color: $clr4;
            border-radius: 40px;

        }

        .search-section {
            flex-grow: 1;
        }

        .search-btn-section {
            padding-right: 9px;

            .search-btn {
                padding: 16px;
                background-color: $clr1;
                padding: 16px;
                border-radius: 50%;
                color: $clr3;
                z-index: 10;

                &:hover {
                    background-image: radial-gradient(circle at center,
                            #FF385C 0%,
                            #E61E4D 27.5%,
                            #E31C5F 40%,
                            #D70466 57.5%,
                            #bd1e59 75%,
                            #BD1E59 100%);
                }
            }
        }



    }

    label.search-head {
        display: block;
    }

    .search-section {
        padding: 14px 24px;
        font-size: rem(14px);
        text-align: left;

        &.last {
            z-index: 10;
            display: flex;
            flex-basis: auto;
        }


        &:hover {
            background-color: $clr4;
            border-radius: 40px;

            .text-input {
                background-color: $clr4;

            }

            .break-point {
                border-right: 1px solid $clr1;

            }
        }

        input {
            font-size: rem(14px);
            border: 0 solid $clr1;
            line-height: 18px;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: $clr4;

            }
        }
    }

    .break-point {
        border-right: 1px solid $clr6;
        height: 32px
    }

    .search-head {
        font-weight: 800;
        font-size: rem(12px);
        padding-bottom: 2px;
    }

    .search-sub {
        font-size: rem(14px);
        color: $clr2;
    }

    .date-picker {
        z-index: 1;
        opacity: 0;
        position: fixed;

        :hover {
            background-color: $clr4;
        }
    }
}

.search-cmp {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    transform: translateY(-100px) scale(0, 0);
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.search-cmp-big {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    transition: 0.3s;
    opacity: 1;
}



.position-modal {
    position: relative;

    .guests-modal {
        background-color: $clr3;
        right: 0;
        box-shadow: 10px 10px 5px 100vh rgba(0, 0, 0, 0.3);
        position: absolute;
        padding: 16px 32px;
        border-radius: 32px;
        margin-top: 80px;

        section {
            width: 330px;
        }

        .guests-type {
            padding: 24px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .guests-type-view {
                .title {
                    padding-bottom: 6px;
                    font-weight: 600;
                }

                .second-title {
                    font-size: rem(14px);
                    font-weight: 400;
                    color: $clr2;
                    line-height: 18px;
                }
            }

            .guests-type-selection {
                width: 104px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    display: inline-flex;
                    align-items: center;

                }
            }
        }
    }
}