.card-container {
    width: 100%;
    display: flex;
    margin: 0;
    color: #222;
    background-color: $clr3;

    li {
        list-style: none;
        margin: 0;
        padding: 0;

    }

    .text-container {
        margin-top: 8px;
        .title {
            display: flex;
            justify-content: space-between;
            span {
                font-family: airbnb-bold;
                color: black;
                font-size: 12px;
                font-weight: 550;
            }
        }

        p {
            // font-size: 15px;
            line-height: 5px;
            color: $clr2;
        }

        span.price {
            font-size: 13px;
            color: $clr5;
            font-weight: 550;

        }
    }

    img {
        border-radius: 0.5em;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

}

.card-layout {
    // display: grid;
    // gap: 30px;
    // padding: 0;
    // grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
    // column-gap: 24px;
    // grid-auto-rows: 1fr;
    //  row-gap: 40px;
    // padding-top: 1rem;
    //  padding-bottom: 250px
    display: grid;
    grid-template-columns: repeat(4, minmax(25ch, 1fr));
    grid-gap: 1.5rem;
    padding: 0;

}