.stay-details {
    padding-top: 60px;

    //stay-details-heading component
    .img-container {
        // height: 430px;
        // border: 1px solid $clr3;
        // border-radius: 16px;
        padding-top: 10px;

        .img-list {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 230px);
            gap: 10px;

            li:nth-child(3) {
                .stay-img {
                    border-radius: 0 12px 0 0;

                }
            }

            li:nth-child(5) {
                .stay-img {
                    border-radius: 0 0 12px 0;

                }
            }

            li:first-child {
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;

                .stay-img {
                    border-radius: 12px 0 0 12px;

                }
            }
        }
    }

    .stay-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .two-sections {

        .first-section {
            width: 58%;
        }

        .second-section {
            width: 33%;
            margin-left: 8%;
        }
    }

    .stay-title {
        padding-top: 40px;
        color: $clr5;
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        height: auto;
        margin-bottom: 0;
    }

    .sub-titles {
        // font-family: airbnb-bold;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        // margin-top: 8px;
        justify-content: space-between;

        .sub-titles-details {
            align-items: center;
        }

        .share-btn,
        .save-btn {
            align-items: center;
            padding: 8px;
            border-radius: 8px;

            svg {
                margin-right: 8px;
            }

            span {
                text-decoration: underline;
            }
        }

        .share-btn:hover {
            cursor: pointer;
            background-color: $clr4;
        }

        .save-btn:hover {
            cursor: pointer;
            background-color: $clr4;
        }
    }

    .type-heading-img {
        height: 56px;
        width: 56px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 16px;
    }

    .dot {
        color: #717171;
        margin-right: 8px;
        margin-left: 8px;
    }

    .dot2 {
        margin: 0 4px;
    }

    .flex-type {
        padding: 48px 0 24px;
        justify-content: space-between;
        border-bottom: 0.0714285714em solid #ddd;
    }

    .type-heading {

        .type-heading-title {
            font-weight: 600;
            font-size: 22px;
            margin: 0 0 8px 0;
        }
    }

    .capacities {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        height: 20px;
    }

    .stay-details-desc {
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        word-break: keep-all;
        border-bottom: 0.0714285714em solid #ddd;
        padding-top: 32px;
        padding-bottom: 48px;
    }

    //Amenties components
    .ameneties {
        // border-bottom: 0.0714285714em solid #ddd;

        .ameneties-title {
            font-size: 22px;
            font-weight: 600;
            padding: 0 0 24px;
            margin: 0;
        }

        .ameneties-list {
            flex-wrap: wrap;
            flex-direction: column;
            // padding: 48px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

        //amenties-preview component
        .amenety-preview {
            span {
                align-self: center;
                text-align: center;
            }

            .amenity-img {
                height: 24px;
                width: 24px;
                padding-inline-end: 5px;
            }
        }

        .amenety-list-item {
            display: flex;
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 16px;
            justify-content: flex-start;

            .amenety-icon {
                padding-inline-end: 17px;
            }
        }

    }

    //review-list component
    .review-list {
        border-bottom: 0.0714285714em solid #ddd;
        padding: 48px 0;
    }

    .review-list-title {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 32px;
    }

    .review-preview {
        margin-bottom: 40px;
        // width: 41.6667% !important;
        margin-right: 8.33333% !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .review-preview-name {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }

    .review-preview-date {
        font-size: 14px;
        color: $clr2;
        margin-bottom: 0;
    }

    .review-preview-box {
        margin-bottom: 16px;
    }

    .review-preview-txt {
        font-size: 16px;
        font-weight: 400;
        width: 100px;
        overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // height: 100px;
        // overflow: hidden;
        // white-space: nowrap
    }

    .reviewer-img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    .review-heading-txt {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 12px;
        line-height: 20px;


        // word-break: break-word;
        // font-size: 1rem;

    }

    .reviews-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px 1px;
        // flex-wrap: wrap;
        // // width: 100%;
        // flex-direction: column;
        // columns: 2;


        // flex-flow: row wrap;
        // >*{
        //     flex: 1 1 160px;

        // }
    }


}