.back-office-main h1 {
  margin-top: 24px;
  margin-bottom: 0.6rem;
  font-family: airbnb-medium;
}

.back-office {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1010px) {
    display: grid;
    grid-template-areas: 'charts''orders';
  }

  .back-office-charts {
    @media (max-width: 1010px) {
      grid-area: charts;
    }

    // font-family: airbnb-medium;
    .chart-area-title {
      margin: 0 0 0.6rem;
      font-size: 22px;
      font-family: airbnb-medium;
    }

    .bold {
      font-size: 18px;
      font-family: airbnb-medium;
      margin-bottom: 5px;
    }

    .subtitle-area {
      font-size: 15px;
      font-family: airbnb-book;
      color: $clr2;
      padding-bottom: 13px;

    }

    .chart-area-subtitle {
      font-size: 18px;
      font-family: airbnb-medium;
    }

    .total-income {
      // font-family: airbnb-medium;
    }
  }

  .orders-list-main {
    flex-grow: 1;
    margin-right: 20px;

    @media (max-width: 1010px) {
      grid-area: orders;
    }
  }

  .data-card {
    border: 1px solid $clr6;
    width: 450px;
    height: max-content;
    padding: 20px;
    border-radius: 8px;
    position: sticky;

    @media (max-width: 1010px) {
      width: 100%;
    }

    .chart-card {
      @media (max-width: 1010px) {
        display: flex;
        width: 100%;
      }
      .chart-main {
        @media (max-width: 1010px) {
          width: 50%;
          padding: 15px;
        }
      }
      div {
        canvas {
          height: 250px !important;
        }
      }

      .stats {
        @media (max-width: 1010px) {
          flex-grow: 1;
        }
        .stats-section {
          padding-bottom: 10px;

          .key {
            color: $clr2;
          }

          .value {
            color: green;
            img {
              height: 10px;
              display: inline-block;
            }
          }

          &.border {
            padding-bottom: 13px;
            margin-bottom: 16px;
          }
        }
      }

    }

    h1 {
      font-family: airbnb-medium;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      // justify-content: center;
      margin: 15px 0;
    }
  }

  h1.back-office-title {
    margin: 0 0 0.6rem;
    font-size: 22px;
    font-family: airbnb-medium;
  }

  .back-office-title {
    font-family: airbnb-medium;
    color: $clr1;
  }

  .orders-list {
    flex-grow: 1;

    .order-preview {
      justify-content: space-between;
      margin-block: 25px;
      flex-grow: 1;

      .preview-inner {
        justify-content: space-between;
        width: 100%;
        padding-bottom: 35px;
        border-bottom: 1px solid $clr6;

        .green {
          align-items: center;
          color: #67c23a;
        }

        .red {
          align-items: center;
          color: #f56c6c;
        }

        .guest-details {
          //   margin-block: 10px;

          width: 100%;

          .guest-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          .guest-details-inner {
            flex-direction: column;
            padding-left: 10px;

            .place-info {
              width: 200x;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              color: $clr2;
              margin-top: 5px;

              span {
                text-transform: lowercase;
              }

            }

            .guest-name-and-created {
              height: 50px;
              margin-bottom: 3px;
            }

            .guest-name {
              margin: 0;
              font-family: airbnb-medium;
              align-self: center;
              // padding-left: 10px;
              text-transform: capitalize;
              align-self: flex-start;
            }

            .order-created-at {
              font-family: airbnb-medium;
              font-size: 15px;
              margin-bottom: 0;
            }
          }
        }
      }

      .sub-title {
        color: $clr2;
        display: flex;
        align-content: end;
        align-items: stretch;

        .order-details {
          margin: 0 3px;

          &.last {
            width: 100%
          }
        }
      }

      .last-details {
        width: 50px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        margin: 0;

        @media (max-width: 1010px) {
          min-width: 300px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-self: flex-end;

        .el-button+.el-button {
          margin-top: 5px;
          margin-left: 0;
        }
      }

      // .status {
      //   //  justify-content: flex-end;
      // }
    }
  }
}