

* {
    box-sizing: border-box;
}

html { 
   font-family: airbnb-book, sans-serif; 
   color: $clr2;
   line-height: 1.2;



    //    font-size: 11px;
   
}

body {
    margin: 0;
    background-color: $clr3;
    color: $clr5;
    font-size:  1rem;


}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0 0 1rem;
    line-height: lh(40px, 29px);
}

h1 {
    // font-size: rem(60px);
}

h2 {
    font-size: 30px;
    // margin: em(63px) 0;
    grid-area: title;
    // color: $clr1;
    // text-transform: uppercase;
    // @include type(boldCondensed);
}

h3 {
    font-size: em(29px);
}

img {
    width: 100%;
}

// p {
//     margin: 0 0 1em;
//     max-width: 60ch;
//     @include type(light);
//     .main-text & {
//         grid-column: 3 / 6;
//         font-size: rem(22px);
//         line-height: 1.384615;
//         padding-inline-start: rem(30px);
//         position: relative;
        
//         &::after {
//             content: "";
//             position: absolute;
//             display: block;
//             top: 0;
//             left: 0;
//             width: 8px;
//             height: 100%;
//             max-height: 42px;
//             background-color: $clr1;
            
//             @include for-wide-layout {
//                 width: 10px;
//             }
//         }
        
//         @include for-wide-layout {
//             grid-column: 3 / 5;
//             font-size: rem(26px);
//         }
//     }
// }

.btn {
    @include btn;
    
    &-dark {
        @include btn($type: dark);
    }
    
    &-light {
        @include btn($type: light);
    }
    &-round {
        @include btn($type: round, $padding: rem(5px));
    }
}


// links
// a {
//     // color: $clr1;

//     &.active {
//         background-color: $clr1;
//         // color: $clr2;
//     }
// }

// mark {
//     // color: $clr1;
//     background-color: transparent;
// }