// Flex 
.flex {
    display: flex;
    // color: green
}

.flex.inline-flex {
    display: inline-flex;
}

.align-self-center {
    align-self: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

// List 
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

Text .vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.items-center {
    align-items: center;
}

.tag-text {
    color: $clr1;
    text-transform: uppercase;
    @include type(boldCondensed);
}

.underline {
    text-decoration: underline
}

Aspect ratios .ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}

.container {
    padding-inline-start: 80px;
    padding-inline-end: 80px;
    max-width: 1600px;
    margin: auto;
}
.svg-color-filter {
    filter: invert(6%) sepia(14%) saturate(50%) hue-rotate(314deg) brightness(108%) contrast(85%);

}

.border{
    border-bottom: 1px solid $clr6;
}