 .main-layout {
     display: grid;
     grid-template-columns: minmax(20px,1fr) minmax(auto,1120px) minmax(20px,1fr);
    >*{
        grid-column: 2;

        &.full {
            grid-column: 1/-1;
        }
    }
 }
 .main-text {
     margin-bottom: rem(90px);
}


 .main-layout-home {
     display: grid;
     grid-template-columns: minmax(20px,1fr) minmax(auto,1120px) minmax(20px,1fr);
    >*{
        grid-column: 2;

        &.full {
            grid-column: 1/-1;
        }
    }
 }
 .main-text {
     margin-bottom: rem(90px);
}
