@font-face {
    font-family: airbnb-medium;
    src: url("../assets/Fonts/Airbnb_Cereal-Medium.ttf") format("truetype");
}
@font-face {
    font-family: airbnb-bold;
    src: url("../assets/Fonts/Airbnb_Cereal-Bold.ttf") format("truetype");
}
@font-face {
    font-family: airbnb-book;
    src: url("../assets/Fonts/Airbnb_Cereal-Book.ttf") format("truetype")
}
