
// COLOR PALETTE
$clr1: #FF385C;
$clr2: #717171;
$clr3: #ffffff;
$clr4: #EBEBEB;;
$clr5: #222222;
$clr6: #DDDDDD;
$clr7: #F7F7F7F7;


// LAYOUT
$layoutPaddingNarrow: 0;
$layoutPaddingNormal: 40px;
$layoutPaddingWide: 80px;

// LAYOUT BREAKPOINTS
$break-narrow: 740px;
$break-normal: 1120px;
$break-wide: 1600px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;